@import "../mixin.scss";
@import "../variable.scss";

.input-wrapper {
  .input-inner {
    position: relative;
    input {
      outline: none;
      padding: 16px 16px 8px;
      width: 100%;
      border: 1px solid var(--c-input);
      border-radius: 12px;
      &::placeholder {
        color: var(--c-input);
      }
      &:focus,
      &:focus-visible,
      &.has-value {
        border: 1px solid var(--c-input-action);
        ~.input-label{
          will-change: top, transform;
          top: 25%;
          transform: translateY(-50%);
          @include font-size(12px);
        }
      }
    }
    .input-label {
      pointer-events: none;
      position: absolute;
      top: 50%;
      left: 16px;
      transform: translateY(-50%);
      color: var(--c-theme-ops);
      transition: all 0.3s var(--transition-timing);
    }
    .message-error {
      position: absolute;
      top: calc(100% + 2px);
      display: flex;
      width: 100%;
      align-items: center;
      // justify-content: flex-end;
      column-gap: 3px;
      color: var(--c-red_500);
      opacity: 1;
      visibility: visible;
      .label-error {
        @include font-size(14px);
      }
      i {
        @include font-size(8px);
      }
    }
  }
  &.input-error {
    .input-inner {
      input {
        border-color: var(--c-red_500);
      }
      .input-label {
        // color: var(--c-red_500);
      }
    }
  }
}
