@import "mixin.scss";
@import "variable.scss";

.blend {
  // mix-blend-mode: difference;
  position: fixed;
  z-index: 999; 
  border-radius: 9999px; 
  pointer-events: none; 

  display: grid; 
  place-content: center; 

  display: flex; 
  align-items: center; 
  justify-content: center; 
  text-align: center;
  background-color: var(--c-theme-ops);
  color: var(--c-theme);
  &.is-hover {
    // background-color: var(--c-white);
    // color: var(--c-black);
    // mix-blend-mode: unset;
  }
}

[data-cursor-label] {
  cursor: none;
}
