@import "mixin.scss";
@import "variable.scss";

#footer {
  border-top: 1px solid var(--c-bd1);
  background-color: var(--c-bg);
  .wrapper {
    margin: 0 auto;
    max-width: calc(1024px);
    width: 100%;
    .inner {
      .logo-box {
        span {
          @include font-size(38px);
        }
      }
      .row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .logo-box {
        }
        .col {
          padding: 30px 30px 60px;
          max-width: calc(100% / 3);
          width: 100%;
          &:first-child {
            border-right: 1px solid var(--c-bd1);
          }
        }
        .group-menu {
          .row-menu {
            display: flex;
            column-gap: 30px;
            width: 100%;
            .col-menu {
              max-width: calc(100% / 2);
              width: 100%;
            }
          }
          .list-menu {
            margin-top: 15px;
            display: block;
            text-transform: uppercase;
          }
        }
        .group-contact {
          margin-top: 15px;
          .contact-list {
            display: flex;
            align-items: center;
            column-gap: 15px;
            &:not(:first-child) {
              margin-top: 15px;
            }
            i {
              &::before {
                @include font-size(14px);
              }
            }
          }
        }
      }
    }
  }
  .bottom-box {
    border-top: 1px solid var(--c-bd1);
    border-bottom: 1px solid var(--c-bd1);
    color: var(--c-f7);
    @include font-size(16px);
    .inner-box {
      padding: 5px 20px;
      margin: 0 auto;
      max-width: 1024px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: var(--c-gray);
      .copyright-box {
      }
      .des-box {
      }
    }
  }
  .tt-col {
    text-transform: uppercase;

    // @include font-size(26px);
  }
}

@media (max-width: 767px) {
  #footer {
    // padding-top: 20px;
    .wrapper {
      .inner {
        .logo-box {
          span {
          }
        }
        .row {
          flex-direction: column;
          .logo-box {
          }
          .col {
            padding: 20px;
            max-width: 100%;
            &:first-child {
              border-right: none;
            }
            &:last-child {
              border-top: 1px solid var(--c-bd1);
            }
          }
          .group-menu {
            .row-menu {
              .col-menu {
              }
            }
            .list-menu {
              margin-top: 0px;

              &:not(:first-child) {
                margin-top: 10px;
              }
            }
          }
          .group-contact {
            .contact-list {
              &:not(:first-child) {
              }
            }
          }
        }
      }
    }
    .bottom-box {
      .inner-box {
        padding: 10px 0;
        flex-direction: column;
        align-items: center;
        .copyright-box {
          margin-top: 5px;
        }
        .des-box {
          margin-top: 5px;
        }
      }
    }
    .tt-col {
    }
  }
}
