@import "mixin.scss";
@import "variable.scss";

:root {
  --size-burger-menu: 20px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  width: 100%;
  padding: 15px 20px 0;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  &.scroll-up {
    top: 0;
    .wrap-header {
      // max-width: 1280px;
    }
  }
  &.scroll-down {
    top: calc(-1 * var(--header-height));
    .wrap-header {
      // max-width: 960px;
    }
  }
  &.scrolled {
    .wrap-header {
      // max-width: 1024px;
    }
  }
  .wrap-header {
    pointer-events: all;
    position: relative;
    padding: 10px 30px;
    border-radius: 50px;
    max-width: 1340px;
    // max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    transition: max-width 0.5s ease-in-out;
    border: 1px solid var(--c-bd1);
    &::before {
      content: "";
      border-radius: 50px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      -webkit-backdrop-filter: blur(6px);
      backdrop-filter: blur(6px);
      [data-theme~="light"] & {
        background-color: rgba(var(--c-bg-rgb), 0.8);
      }
      [data-theme~="dark"] & {
        background-color: rgba(var(--c-bg-rgb), 0.6);
      }
    }
    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 30px;
    }
    .logo {
      display: flex;
      align-items: center;
      .icon {
      }
      .txt {
        color: var(--c-f);
        @include font-size(28px);
        // text-shadow: 2px 2px 4px rgba(var(--c-f-rgb),0.1);
      }
    }
    .menu-page {
      .wrap-menu {
        display: flex;
        align-items: center;
        column-gap: 30px;
        .item-menu {
          a {
            // @include font-size(18px);
          }
        }
      }
    }
    .search-box {
      max-width: 200px;
      width: 100%;
      display: flex;
      align-items: center;
      column-gap: 20px;
    }
    .navigator-box {
      display: flex;
      align-items: center;
      column-gap: 20px;
      .navigator-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        .btn-menu {
          cursor: pointer;
          position: relative;
          width: var(--size-burger-menu);
          height: var(--size-burger-menu);
          overflow: hidden;
          .line {
            &.n1,
            &.n2,
            &.n3 {
              position: absolute;
              // background: var(--c-gd);
              left: 0%;
              display: flex;
              align-items: center;
              justify-content: center;
              column-gap: 5px;
              transition: all 0.5s ease-in-out;
              &::before {
                content: "";
                background: var(--c-bg-ops);
                height: 2px;
                width: var(--size-burger-menu);
                border-radius: 50px;
                // transition: all 0.5s ease-in-out;
              }
              &::after {
                content: "";
                background: var(--c-bg-ops);
                height: 2px;
                width: var(--size-burger-menu);
                border-radius: 50px;
                // transition: all 0.5s ease-in-out;
              }
            }
            &.n1 {
              top: 3px;
              transition-delay: 0s;
            }
            &.n2 {
              top: 50%;
              transform: translateY(-50%);
              transition-delay: 0.1s;
            }
            &.n3 {
              bottom: 3px;
              transition-delay: 0.2s;
            }
          }
          &:hover,
          &.active {
            .line {
              &.n1,
              &.n2,
              &.n3 {
                left: calc(-100% - 5px);
                &::before {
                  // background: var(--c-gd);
                }
                &::after {
                  // background: var(--c-gd);
                }
              }
              &.n1 {
                transition-delay: 0s;
              }
              &.n2 {
                transition-delay: 0.1s;
              }
              &.n3 {
                transition-delay: 0.2s;
              }
            }
          }
        }
      }
    }
  }
}

#navbar {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  transition: all 0.5s ease-in-out;
  &.active {
    .bg-dim {
      opacity: 1;
      visibility: visible;
    }
    .navbar-card {
      right: 0px;
      .navigatorbar {
        .btn-close {
          .line {
            &.n1 {
              transform: translate(-50%, -50%) rotate(-45deg);
            }
            &.n2 {
              transform: translate(-50%, -50%) rotate(-135deg);
            }
          }
        }
      }
    }
  }
  .bg-dim {
    cursor: pointer;
    pointer-events: all;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgba(var(--c-bg-rgb), 0.1);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
  }
  .navbar-card {
    pointer-events: all;
    padding: 80px 30px 40px;
    position: absolute;
    right: -100%;
    left: auto;
    z-index: 2;
    width: 400px;
    max-width: calc(100vw - 60px);
    height: 100dvh;
    background: var(--c-bg);
    box-shadow: rgba(var(--c-bg-ops-rgb), 0.24) 0px 3px 8px;
    transition: all 0.5s ease-in-out;
    .navigatorbar {
      position: absolute;
      top: 30px;
      right: 30px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      column-gap: 20px;
      .btn-close {
        position: relative;
        cursor: pointer;
        width: var(--size-burger-menu);
        height: var(--size-burger-menu);
        .line {
          transition: all 0.5s ease-in-out;
          transition-delay: 0.3s;
          &.n1,
          &.n2 {
            position: absolute;
            height: 2px;
            width: var(--size-burger-menu);
            background-color: var(--c-bg-ops);
            border-radius: 50px;
          }
          &.n1 {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(0deg);
          }
          &.n2 {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) rotate(0deg);
          }
        }
      }
    }
    .navbar-wrapper {
      height: 100%;
      // overflow: auto;
      .card-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        column-gap: 30px;
        .top-box {
          .navbar-search-box {
            margin-top: 20px;
          }
          .wrap-menu {
            & > li {
              transform-origin: left;
              transition: transform 0.4s ease, opacity 0.4s ease;
            }
            &:hover > li:not(:hover) {
              opacity: 0.25;
              transform: scale(0.8);
            }
            .item-menu {
              position: relative;
              display: flex;
              align-items: center;
              &::before {
                content: "";
                height: 1px;
                width: 0;
                background: var(--c-gd);
                border-radius: 50px;
                transition: all 0.5s ease-in-out;
              }
              &:hover,
              &.active {
                column-gap: 5px;
                &::before {
                  content: "";
                  width: 20px;
                }
                a {
                  background: var(--c-gd);
                  -webkit-background-clip: text; /* ✅ ทำให้สี background ใช้กับ text */
                  -webkit-text-fill-color: transparent;
                }
              }
              a {
                padding: 5px 0;
                @include font-size(50px, 40px);
              }
            }
          }
        }
        .bottom-box {
          color: var(--c-f);
          .address-txt {
            margin-top: 30px;
            @include font-size(16px, 16px);
          }
          .contact-box {
            margin-top: 20px;
            .list-cc {
              margin-top: 0;
              display: flex;
              align-items: center;
              column-gap: 10px;
              &:not(:first-child) {
                margin-top: 10px;
              }
              .label-txt {
              }
              .val-txt {
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  #header {
    padding: 10px 10px 0;
    .wrap-header {
      padding: 10px 20px;
      &::before {
      }
      .logo {
        .icon {
        }
        .txt {
        }
      }
      .menu-page {
        .wrap-menu {
          .item-menu {
            a {
            }
          }
        }
      }
      .search-box {
        max-width: auto;
        width: auto;
      }
      .navigator-box {
        column-gap: 10px;
        .navigator-inner {
          .btn-menu {
            .line {
              &.n1,
              &.n2,
              &.n3 {
                &::before {
                }
                &::after {
                }
              }
              &.n1 {
              }
              &.n2 {
              }
              &.n3 {
              }
            }
            &:hover,
            &.active {
              .line {
                &.n1,
                &.n2,
                &.n3 {
                  &::before {
                  }
                  &::after {
                  }
                }
                &.n1 {
                }
                &.n2 {
                }
                &.n3 {
                }
              }
            }
          }
        }
      }
    }
  }

  #navbar {
    &.active {
      .bg-dim {
      }
      .navbar-card {
        .navigatorbar {
          .btn-close {
            .line {
              &.n1 {
              }
              &.n2 {
              }
            }
          }
        }
      }
    }
    .bg-dim {
    }
    .navbar-card {
      padding: 60px 30px;
      .navigatorbar {
        top: 20px;
        right: 30px;
        column-gap: 10px;
        .btn-close {
          .line {
            &.n1,
            &.n2 {
            }
            &.n1 {
            }
            &.n2 {
            }
          }
        }
      }
      .navbar-wrapper {
        .card-inner {
          // justify-content: flex-start;
          .top-box {
            .navbar-search-box {
            }
            .wrap-menu {
              & > li {
              }
              &:hover > li:not(:hover) {
              }
              .item-menu {
                &::before {
                }
                &:hover,
                &.active {
                  &::before {
                  }
                  a {
                    /* ✅ ทำให้สี background ใช้กับ text */
                  }
                }
                a {
                }
              }
            }
          }
          .bottom-box {
            .address-txt {
            }
            .contact-box {
              .list-cc {
                &:not(:first-child) {
                }
                .label-txt {
                }
                .val-txt {
                }
              }
            }
          }
        }
      }
    }
  }
}
