@import "mixin.scss";
@import "variable.scss";

.sec-banner {
  background-image: url("/images/home/bg1.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 2;
  width: 100vw;
  height: 100dvh;
  &::after {
    content: "";
    background-image: linear-gradient(
      135deg,
      rgba(var(--c-white-rgb), 1) 0%,
      rgba(var(--c-white-rgb), 1) 50%,
      rgba(var(--c-white-rgb), 0) 100%
    );
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  .wrapper {
    position: relative;
    z-index: 2;
    max-width: calc(1280px + (20px * 2));
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 30px;
    .overlay-box {
      // border: 1px solid rgb(47, 160, 19);
      max-width: 420px;
      width: 100%;
      .txt-box {
        // letter-spacing: 3px;
        .txt-1 {
          @include font-size(30px, 20px);
        }
        .txt-2 {
          @include font-size(60px, 35px);
        }
        .txt-3 {
          @include font-size(34px, 22px);
        }
        .txt-4 {
          margin-top: 10px;
          @include font-size(18px, 9px);
        }
        .btn-view-more {
          margin-top: 20px;
        }
      }
    }
    .swiper-banner {
      // max-width: 900px;
      width: 100%;
      margin: 0;
      border-radius: 6px;
      .swiper-wrapper {
        .swiper-slide {
          overflow: hidden;
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            // background-color: rgba(var(--c-black-rgb),0.3);
            background-image: linear-gradient(
              135deg,
              rgba(var(--c-white-rgb), 1) 0%,
              transparent 50%,
              transparent 100%
            );
          }
          .img-banner {
            position: relative;
            z-index: 1;
            width: 100%;
            height: 100%;
            max-width: 830px;
            max-height: 550px;
            object-fit: cover;
            object-position: center;
            // animation: zoom-in-zoom-out 50s linear infinite;
          }
          .content-box {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            color: var(--c-white);
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .sec-banner {
    padding: 0 0 30px;
    // height: auto;
    &::after {
      content: '';
      display: none;
    }
    .wrapper {
      padding: 0px;
      flex-direction: column-reverse;
      .overlay-box {
        max-width: 100%;
        .txt-box {
          .txt-1 {
          }
          .txt-2 {
          }
          .txt-3 {
          }
          .txt-4 {
          }
          .btn-view-more {
          }
        }
      }
      .swiper-banner {
        max-width: 100%;
        border-radius: 0;
        .swiper-wrapper {
          .swiper-slide {
            &::after {
              background-image: linear-gradient(
                to top,
                rgba(var(--c-black-rgb), 0.5) 0%,
                transparent 50%,
                transparent 100%
              );
            }
            .img-banner {
              width: 100vw;
              height: 100dvh;
              object-fit: cover;
              object-position: center;
            }
            .content-box {
            }
          }
        }
      }
    }
  }
}
