@import "mixin.scss";
@import "variable.scss";

.sec-about {
  position: relative;
  z-index: 3;
  // min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: calc(var(--header-height) + 20px) 20px 0;
  .wrapper {
    // min-height: 100vh;
    position: relative;
    z-index: 2;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    .title-sec {
      text-align: center;
      @include font-size(50px, 40px);
    }
    .content-box {
      margin-top: 30px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      column-gap: 50px;
      .img-box {
        position: relative;
        max-width: 50%;
        width: 100%;
        .img-profile {
          max-width: 100%;
          width: 100%;
          height: auto;
          max-height: 440px;
          object-fit: cover;
          object-position: center;
        }
      }
      .detail-box {
        margin: 0 auto;
        max-width: 720px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        .txt-title {
          @include font-size(40px);
        }
        .txt-desc {
          // margin-top: 30px;
          @include font-size(24px, 20px);
          color: var(--c-f7);
        }
        .wrap-btn {
          margin: 30px 0 0;
        }
      }
    }
  }
  .bg-box {
    position: relative;
    z-index: 1;
    max-width: 100vw;
    overflow: hidden;
    margin: 30px 0 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .marquee-img {
      img {
        opacity: 0.7;
        width: auto;
        height: 200px;
        object-fit: cover;
        object-position: center;
      }
    }
    .marquee-text {
      color: var(--c-f1);
      @include font-size(20vw);
    }
  }
}

@media (max-width: 767px) {
  .sec-about {
    padding: 40px 20px;
    min-height: auto;
    .wrapper {
      .title-sec {
      }
      .content-box {
        // margin-top: 30px;
        flex-direction: column;
        align-items: center;
        .img-box {
          max-width: 100%;
          .img-profile {
            max-height: 300px;
          }
        }
        .detail-box {
          align-items: center;
          max-width: 100%;
          text-align: center;

          .txt-title {
          }
          .txt-desc {
          }
          .btn-view-more {
          }
        }
      }
    }
    .bg-box {
      // top: 0;
      .marquee-img {
        img {
        }
      }
      .marquee-text {
        @include font-size(40vw);
      }
    }
  }
}
