@import "mixin.scss";
@import "variable.scss";

.section-skills {
  position: relative;
  z-index: 1;
  padding: calc(var(--header-height) + 60px) 20px 100px;
  width: 100vw;
  min-height: 100vh;
  .wrapper {
    position: relative;
    z-index: 1;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    .title-sec {
      text-align: center;
      @include font-size(34px, 34px);
    }
    .txt-sub-sec {
      margin-top: 30px;

      @include font-size(22px);
      text-align: center;
      color: var(--c-f1);
    }

    .content-box {
      margin-top: 30px;
      .cate-box {
        position: relative;
        z-index: 2;
        .dropdown-skills {
          margin: 30px auto;
          @include font-size(20px);
        }
      }

      .group-skills {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 20px 20px;
        .list-skill {
          border-radius: 6px;
          padding: 20px;
          width: 100%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          align-items: center;
          background: var(--c-card);
          position: relative;
          overflow: hidden;
          border: 1px solid var(--c-bd1);
          transition: all 0.5s ease-in-out;;
          &:hover {
            transform: scale(1.2);
          }
          img {
            height: 60px;
            &.size-leg {
            }
            [data-theme~="dark"] & {
              &.theme-dark-invert {
                filter: invert(1);
              }
            }
          }
          .txt-name {
            margin-top: 20px;
            color: var(--c-f);
            @include font-size(18px);
          }
        }
      }
    }
  }
}

@media (max-width: 1280px) {
  .section-skills .wrapper .content-box .group-skills {
    grid-template-columns: repeat(6, 1fr);
    .list-skill {
      img {
      }
    }
  }
}

@media (max-width: 1024px) {
  .section-skills .wrapper .content-box .group-skills {
    grid-template-columns: repeat(5, 1fr);
    .list-skill {
      img {
      }
    }
  }
}

@media (max-width: 820px) {
  .section-skills .wrapper .content-box .group-skills {
    grid-template-columns: repeat(4, 1fr);
    .list-skill {
      img {
      }
    }
  }
}
@media (max-width: 767px) {
  .section-skills {
    padding: 60px 20px;
    .text-bg {
    }
    .wrapper {
      .title-sec {
      }
      .txt-sub-sec {
      }
      .content-box {
        // margin-top: 30px;
        .group-skills {
          gap: 10px;
          .list-skill {
            img {
              height: 50px;
              &.size-leg {
              }
            }
            .txt-name {
            }
          }
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .section-skills .wrapper .content-box .group-skills {
    grid-template-columns: repeat(3, 1fr);
    .list-skill {
      img {
      }
    }
  }
}

@media (max-width: 450px) {
  .section-skills .wrapper .content-box .group-skills {
    // grid-template-columns: repeat(2, 1fr);
    .list-skill {
      padding: 20px;
      img {
        // height: 40px;
      }
      .txt-name {
        margin-top: 10px;
      }
    }
  }
}
