@import "mixin.scss";
@import "variable.scss";

.sec-about {
  position: relative;
  z-index: 3;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: calc(var(--header-height) + 20px) 20px 20px;
  .wrapper {
    position: relative;
    z-index: 2;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    .title-sec {
      text-align: center;
      @include font-size(50px,40px);
    }
    .content-box {
      margin-top: 60px;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      column-gap: 50px;
      .img-box {
        position: relative;
        max-width: 50%;
        width: 100%;
        .img-profile {
          max-width: 100%;
          width: 100%;
          height: auto;
          max-height: 440px;
          object-fit: cover;
          object-position: center;
        }
      }
      .detail-box {
        max-width: 50%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .txt-title {
          @include font-size(30px);
        }
        .txt-desc {
          margin-top: 20px;
          color: var(--c-f1);
          @include font-size(18px);
        }
        .wrap-btn {
          margin: 20px 0 0;
        }
      }
    }
  }

  .animation-box {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    [data-dot] {
      position: absolute;
      width: 25px;
      height: 25px;
      --translate-size: 50%;
      --c-size-bd: 1px;
      &[data-dot~="1"] {
        top: 0;
        left: 0;
        transform: translate(calc(-1 * var(--translate-size)),calc(-1 * var(--translate-size)));
        border-top: var(--c-size-bd) solid var(--c-theme-ops);
        border-left: var(--c-size-bd) solid var(--c-theme-ops);
      }
      &[data-dot~="2"] {
        right: 0;
        top: 0;
        transform: translate(var(--translate-size),calc(-1 * var(--translate-size)));
        border-top: var(--c-size-bd) solid var(--c-theme-ops);
        border-right: var(--c-size-bd) solid var(--c-theme-ops);
      }
      &[data-dot~="3"] {
        left: 0;
        bottom: 0;
        transform: translate(calc(-1 * var(--translate-size)),var(--translate-size));
        border-left: var(--c-size-bd) solid var(--c-theme-ops);
        border-bottom: var(--c-size-bd) solid var(--c-theme-ops);
      }
      &[data-dot~="4"] {
        right: 0;
        bottom: 0;
        transform: translate(var(--translate-size),var(--translate-size));
        border-right: var(--c-size-bd) solid var(--c-theme-ops);
        border-bottom: var(--c-size-bd) solid var(--c-theme-ops);
      }
    }
  }
}

@media (max-width: 767px) {
  .sec-about {
    padding: 60px 20px;
    min-height: auto;
    .wrapper {
      .title-sec {
      }
      .content-box {
        // margin-top: 30px;
        flex-direction: column;
        align-items: center;
        .img-box {
          max-width: 100%;
          .img-profile {
            max-height: 45vh;
          }
        }
        .detail-box {
          align-items: center;
          max-width: 100%;
          margin-top: 30px;
          text-align: center;

          .txt-title {
          }
          .txt-desc {
          }
          .btn-view-more {
          }
        }
      }
    }
  }
}
