@import "mixin.scss";
@import "variable.scss";

.swicth-theme{
    cursor: pointer;
    [data-theme~="dark"] & {
        i{
            &::before{
                color: var(--c-f);
            }
        }
    }
    i{
        &::before{
            color: var(--c-f);
            @include font-size(16px);
        }
    }
}