:root {
  --header-height: 0px;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  

  --c-white: #ffffff;
  --c-white-rgb: 255, 255, 255;
  --c-transparent-white_100: #ffffff1a;
  --c-transparent-white_200: #ffffff33;
  --c-transparent-white_300: #ffffff4d;
  --c-transparent-white_400: #ffffff66;
  --c-transparent-white_500: #ffffff80;
  --c-transparent-white_600: #ffffff99;
  --c-transparent-white_700: #ffffffb3;
  --c-transparent-white_800: #ffffffcc;
  --c-transparent-white_900: #ffffffe6;
  --c-black: #000000;
  --c-black-rgb: 0, 0, 0;
  --c-transparent-black_100: #00000008;
  --c-transparent-black_200: #00000014;
  --c-transparent-black_300: #00000026;
  --c-transparent-black_400: #00000042;
  --c-transparent-black_500: #0006;
  --c-transparent-black_600: #0000008c;
  --c-transparent-black_700: #000000b3;
  --c-transparent-black_800: #000c;
  --c-transparent-black_900: #000000e6;
  --c-black_100: #f7f7f7;
  --c-black_100-rgb: 247, 247, 247;
  --c-black_200: #ebebeb;
  --c-black_300: #d9d9d9;
  --c-black_400: #bdbdbd;
  --c-black_500: #999;
  --c-black_600: #737373;
  --c-black_700: #4d4d4d;
  --c-black_800: #333;
  --c-black_900: #1a1a1a;
  --c-black_900-rgb: 26, 26, 26;
  --c-black_900_2: #0a0a0a;
  --c-green_100: #e7f9eb;
  --c-green_200: #c3efcd;
  --c-green_300: #88dd9f;
  --c-green_400: #47d16c;
  --c-green_500: #1fb141;
  --c-green_600: #189a2e;
  --c-green_700: #0d731e;
  --c-green_800: #085e16;
  --c-green_900: #04490f;
  --c-red_100: #ffe3e3;
  --c-red_200: #ffbdbd;
  --c-red_300: #ff9b9b;
  --c-red_400: #f86a6a;
  --c-red_500: #ef4e4e;
  --c-red_600: #e12d39;
  --c-red_700: #cf1124;
  --c-red_800: #ab091e;
  --c-red_900: #8a041a;
  --c-yellow_100: #fffbea;
  --c-yellow_200: #fff3c4;
  --c-yellow_300: #fce588;
  --c-yellow_400: #fadb5f;
  --c-yellow_500: #f7c948;
  --c-yellow_600: #f0b429;
  --c-yellow_700: #de911d;
  --c-yellow_800: #cb6e17;
  --c-yellow_900: #b44d12;
  --c-blue_100: #e6f6ff;
  --c-blue_200: #bae3ff;
  --c-blue_300: #7cc4fa;
  --c-blue_400: #47a3f3;
  --c-blue_500: #2186eb;
  --c-blue_600: #0967d2;
  --c-blue_700: #0552b5;
  --c-blue_800: #03449e;
  --c-blue_900: #01337d;

  --c-gradient: var(--c-black);
  // --c-gradient: linear-gradient(90deg, #56ab2f 0%, #a8e063 100%);
  // --c-gradient: linear-gradient(90deg, #ff7e5f 0%, #feb47b 100%);
  // --c-gradient: linear-gradient(90deg, #2193b0 0%, #6dd5ed 100%);
  // --c-gradient: linear-gradient(90deg, #2c3e50 0%, #4ca1af 100%);
  // --c-gradient: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
  // --c-gradient: linear-gradient(-90deg,#007cf0,#00dfd8,#ff0080,#007cf0);
  // --c-gradient: linear-gradient(90deg, #6a00f4 0%, #0072ff 50%, #00ffe5 100%);
  // --c-gradient: linear-gradient(90deg, #6a00f4 0%, #0072ff 50%, #00c6ff 100%);
  // --c-gradient: linear-gradient(135deg, #00c6ff 0%, #0072ff 40%, #6a00f4 100%);
  // --c-gradient: linear-gradient(135deg, #6a00f4 0%,#0072ff 30%, #00c6ff 90%, #00c6ff 100%);
  // --c-gradient: linear-gradient(135deg, #00c38f 0%,#00b6de 50%, #6a00f4 100%);
  --c-gradient: linear-gradient(
    135deg,
    #07b2ce 0%,
    #07b2ce 15%,
    #304ee3 50%,
    #6f22e9 100%
  );

  --c-gd: var(--c-gradient);

  // mode light
  --c-theme: var(--c-white);
  --c-theme-rgb: var(--c-white-rgb);
  --c-theme-ops: var(--c-black);
  --c-theme-ops-rgb: var(--c-black-rgb);
  --c-f: var(--c-black);
  --c-f-rgb: var(--c-black-rgb);
  --c-f-ops: var(--c-white);
  --c-f-ops-rgb: var(--c-white-rgb);
  --c-f1: var(--c-black_100);
  --c-f2: var(--c-black_200);
  --c-f3: var(--c-black_300);
  --c-f4: var(--c-black_400);
  --c-f5: var(--c-black_500);
  --c-f6: var(--c-black_600);
  --c-f7: var(--c-black_700);
  --c-f8: var(--c-black_800);
  --c-f9: var(--c-black_900);
  --c-f-bg: var(--c-black_200);
  --c-input: var(--c-black_200);
  --c-input-action: var(--c-black_500);
  --c-bg: var(--c-white);
  --c-bg-rgb: var(--c-white-rgb);
  --c-bg-ops: var(--c-black);
  --c-bg-ops-rgb: var(--c-black-rgb);
  --c-bg1: var(--c-black_100);
  --c-bg2: var(--c-black_200);
  --c-card: var(--c-white);
  --c-bd: var(--c-black);
  --c-bd1: var(--c-black_100);
  --c-bd2: var(--c-black_200);
  --c-bd3: var(--c-black_300);
  --c-bd4: var(--c-black_400);
  --c-bd5: var(--c-black_500);
  --c-bd6: var(--c-black_600);
  --c-bd7: var(--c-black_700);
  --c-bd8: var(--c-black_800);
  --c-bd9: var(--c-black_900);
  --c-sd: var(--c-transparent-black_200);
  --c-gd: var(--c-black);

}

// mode dark
[data-theme~="dark"] {
  --c-theme: var(--c-black);
  --c-theme-rgb: var(--c-black-rgb);
  --c-theme-ops: var(--c-white);
  --c-theme-ops-rgb: var(--c-white-rgb);
  --c-f: var(--c-white);
  --c-f-rgb: var(--c-white-rgb);
  --c-f-ops: var(--c-black);
  --c-f-ops-rgb: var(--c-black-rgb);
  --c-f1: var(--c-transparent-white_100);
  --c-f2: var(--c-transparent-white_200);
  --c-f3: var(--c-transparent-white_300);
  --c-f4: var(--c-transparent-white_400);
  --c-f5: var(--c-transparent-white_500);
  --c-f6: var(--c-transparent-white_600);
  --c-f7: var(--c-transparent-white_700);
  --c-f8: var(--c-transparent-white_800);
  --c-f9: var(--c-transparent-white_900);
  --c-f-bg: var(--c-black_700);
  --c-input: var(--c-black_800);
  --c-input-action: var(--c-black_500);
  --c-bg: var(--c-black);
  --c-bg-rgb: var(--c-black-rgb);
  --c-bg-ops: var(--c-white);
  --c-bg-ops-rgb: var(--c-white-rgb);
  --c-bg1: var(--c-black_900);
  --c-bg2: var(--c-black_800);
  --c-card: var(--c-black_900_2);
  --c-bd: var(--c-white);
  --c-bd1: var(--c-black_900);
  --c-bd2: var(--c-black_800);
  --c-bd3: var(--c-black_700);
  --c-bd4: var(--c-black_600);
  --c-bd5: var(--c-black_500);
  --c-bd6: var(--c-black_400);
  --c-bd7: var(--c-black_300);
  --c-bd8: var(--c-black_200);
  --c-bd9: var(--c-black_100);
  --c-sd: var(--c-transparent-black_200);
  --c-gd: var(--c-white);
}
