:root {
  --header-height: 0px;

  // mode light
  --c-white-rgb: 255, 255, 255;
  --c-black: #222;
  --c-black-rgb: 5, 5, 6;
  --c-light: #fbfbfb;
  --c-light2: #f0f0f0;
  --c-gray: #777;
  --c-gray-rgb: 119, 119, 119;


  [data-theme='dark'] {
    --background: black;
    --foreground: white;
  }

  
  // --c-gradient: linear-gradient(90deg, #56ab2f 0%, #a8e063 100%);
  // --c-gradient: linear-gradient(90deg, #ff7e5f 0%, #feb47b 100%);
  // --c-gradient: linear-gradient(90deg, #2193b0 0%, #6dd5ed 100%);
  // --c-gradient: linear-gradient(90deg, #2c3e50 0%, #4ca1af 100%);
  // --c-gradient: linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
  // --c-gradient: linear-gradient(-90deg,#007cf0,#00dfd8,#ff0080,#007cf0);
  // --c-gradient: linear-gradient(90deg, #6a00f4 0%, #0072ff 50%, #00ffe5 100%);
  // --c-gradient: linear-gradient(90deg, #6a00f4 0%, #0072ff 50%, #00c6ff 100%);
  // --c-gradient: linear-gradient(135deg, #00c6ff 0%, #0072ff 40%, #6a00f4 100%);
  // --c-gradient: linear-gradient(135deg, #6a00f4 0%,#0072ff 30%, #00c6ff 90%, #00c6ff 100%);
  // --c-gradient: linear-gradient(135deg, #00c38f 0%,#00b6de 50%, #6a00f4 100%);
  --c-gradient: linear-gradient(135deg, #07b2ce 0%, #07b2ce 30%, #304ee3 60%, #6f22e9 100%);
  // --c-gradient: #000;
  // --c-gradient: #8a041a;






  --c-white: #fff;
  --c-black: #000;
  --c-transparent-black_100: #00000008;
  --c-transparent-black_200: #00000014;
  --c-transparent-black_300: #00000026;
  --c-transparent-black_400: #00000042;
  --c-transparent-black_500: #0006;
  --c-transparent-black_600: #0000008c;
  --c-transparent-black_700: #000000b3;
  --c-transparent-black_800: #000c;
  --c-transparent-black_900: #000000e6;
  --c-black_100: #f7f7f7;
  --c-black_200: #ebebeb;
  --c-black_300: #d9d9d9;
  --c-black_400: #bdbdbd;
  --c-black_500: #999;
  --c-black_600: #737373;
  --c-black_700: #4d4d4d;
  --c-black_800: #333;
  --c-black_900: #1a1a1a;
  --c-green_100: #e7f9eb;
  --c-green_200: #c3efcd;
  --c-green_300: #88dd9f;
  --c-green_400: #47d16c;
  --c-green_500: #1fb141;
  --c-green_600: #189a2e;
  --c-green_700: #0d731e;
  --c-green_800: #085e16;
  --c-green_900: #04490f;
  --c-red_100: #ffe3e3;
  --c-red_200: #ffbdbd;
  --c-red_300: #ff9b9b;
  --c-red_400: #f86a6a;
  --c-red_500: #ef4e4e;
  --c-red_600: #e12d39;
  --c-red_700: #cf1124;
  --c-red_800: #ab091e;
  --c-red_900: #8a041a;
  --c-yellow_100: #fffbea;
  --c-yellow_200: #fff3c4;
  --c-yellow_300: #fce588;
  --c-yellow_400: #fadb5f;
  --c-yellow_500: #f7c948;
  --c-yellow_600: #f0b429;
  --c-yellow_700: #de911d;
  --c-yellow_800: #cb6e17;
  --c-yellow_900: #b44d12;
  --c-blue_100: #e6f6ff;
  --c-blue_200: #bae3ff;
  --c-blue_300: #7cc4fa;
  --c-blue_400: #47a3f3;
  --c-blue_500: #2186eb;
  --c-blue_600: #0967d2;
  --c-blue_700: #0552b5;
  --c-blue_800: #03449e;
  --c-blue_900: #01337d;
}
